.footer-container {
    margin: 0 auto;
    padding: 0 2rem;
    font-family: 'karla';
    color: white;
    background-color: #495E47;
    text-align: center;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

.footer-img-logo {
    width: 100px;
}

.list-item {
    list-style-type: none;
    font-size: 12px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    height: 10rem;
}

.footer-subtitle {
    padding: 0;
    margin-bottom: .5rem;
}

ul {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .footer-img-logo {
        width: 50px;
    }

    .footer-p {
        font-size: 8px;
    }

    .list-item {
        font-size: 8px;
    }
}