header.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    font-family: 'karla';
}

.logo-img {
    width: 200px;
}

@media screen and (max-width: 1024px) {
    .logo-img {
        width: 100px;
    }
}