.hero-section-container {
    background-color: #495E47;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

.hero-section-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 0 2rem;
}

.hero-section-text-container h1 {
    color: #F4CE14;
    font-family: 'Markazi Text';
    font-weight: medium;
    font-size: 3rem;
    margin-bottom: -3rem;
    margin-top: 0;
}

.hero-section-text-container h2 {
    color: #EDEFEE;
    font-family: 'Markazi Text';
    font-size: 2.5rem;
    margin-bottom: 0;
}

.hero-section-text-container p {
    color: #EDEFEE;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'karla';
}

button {
    background-color: #333333;
    color: #EDEFEE;
    font-size: 1rem;
    border-radius: 10px;
    padding: .5rem 3rem;
    font-family: 'karla';
}

button:hover {
    background-color: #F4CE14;
    color: #000000;
    font-weight: bold;
}

.restaurant-food-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 17rem;
    padding-left: 2rem;
    margin: 1rem;
}

@media screen and (max-width: 1024px) {

}