.nav-container {
    font-family: 'karla';
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
}

.nav-list-item {
    list-style-type: none;
    padding: 10px 10px;
}

@media screen and (max-width: 1024px) {
    .nav-container {
        display: none;
    }
}