.specials-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.specials-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.Specials-title-text {
    margin-right: 6rem;
    font-size: 2.5rem;
}

.specials-order-online-button {
    color: #F4CE14;
    padding: .5rem 1.5rem;
    font-family: 'karla';
}

.specials-cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 4rem;
}

.specials-img {
    height: 189px;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.specials-card {
    margin: 0 2rem;
    background-color: #EDEFEE;
    border-radius: 10px;
    height: 400px;
}

.specials-title {
    margin: 0;
    font-family: 'karla';
}

.specials-price {
    color: #EE9972;
    margin: 0;
    font-family: 'karla';
}

.specials-description {
    font-family: 'karla';
}

.order-delivery-button {
    padding: .5rem 1rem;
    background-color: #F4CE14;
    color: black;
    border: none;
    font-family: 'karla';
}

.order-delivery-button:hover {
    background-color: #495E47;
    color: white;
}